Gateway/Service References/Queue/QueueService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bpm2.jus.gov.ar/IGJ/IGJGestionTramiteService/QueueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Enums" />
  <xs:complexType name="ArrayOfPair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pair" nillable="true" type="tns:Pair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPair" nillable="true" type="tns:ArrayOfPair" />
  <xs:complexType name="Pair">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Enums" minOccurs="0" name="Type" type="q1:ElementType" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pair" nillable="true" type="tns:Pair" />
</xs:schema>