Gateway/Service References/Queue/QueueService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bpm2.jus.gov.ar/IGJ/IGJGestionTramiteService/QueueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Enums" />
  <xs:import schemaLocation="https://bpm2.jus.gov.ar/IGJ/IGJGestionTramiteService/QueueService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Entities" />
  <xs:element name="PublishMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Enums" minOccurs="0" name="operationType" type="q1:QueueOperationType" />
        <xs:element minOccurs="0" name="taskId" type="xs:long" />
        <xs:element minOccurs="0" name="processDefinitionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Entities" minOccurs="0" name="variables" nillable="true" type="q2:ArrayOfPair" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>