Gateway/Service References/ENTE/WS-RespuestaEnte.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaTimbrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="respuesta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaTimbradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaTimbradoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaTimbradoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaTimbrado" />
  </wsdl:message>
  <wsdl:message name="ConsultaTimbradoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaTimbradoResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_RespuestaEnteSoap">
    <wsdl:operation name="ConsultaTimbrado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informa el resultado de la consulta del timbrado, verifica si esta pago o no.</wsdl:documentation>
      <wsdl:input message="tns:ConsultaTimbradoSoapIn" />
      <wsdl:output message="tns:ConsultaTimbradoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_RespuestaEnteSoap" type="tns:WS_RespuestaEnteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaTimbrado">
      <soap:operation soapAction="http://tempuri.org/ConsultaTimbrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_RespuestaEnteSoap12" type="tns:WS_RespuestaEnteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaTimbrado">
      <soap12:operation soapAction="http://tempuri.org/ConsultaTimbrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_RespuestaEnte">
    <wsdl:port name="WS_RespuestaEnteSoap" binding="tns:WS_RespuestaEnteSoap">
      <soap:address location="http://10.2.27.97:7023/WS-RespuestaEnte.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_RespuestaEnteSoap12" binding="tns:WS_RespuestaEnteSoap12">
      <soap12:address location="http://10.2.27.97:7023/WS-RespuestaEnte.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>